/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}




/* global */
* { box-sizing: border-box; }
.clearfix { overflow: auto; }

/* typography */


body { font-family: sans-serif; }

   CSS selector {
  font-family: 'Roboto', ;
}
    /* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: blue;
}

    






/* header */
header {
  margin-bottom: 100px;
   font-family: 'Roboto';
margin-top: 2%;
  font-size: 24px;
}

/* content */
.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
 
}

.boxes {
  
}

.box:hover{
  animation: spin 5s linear infinite;
  background-image: "Zomer-Posters3.jpg";

}

.box {

  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 5%;
  
  width: 150px;
  height: 200px;

  border: 5px solid black;
  text-align: center;
  padding-top: 2%;
  font-family: 'Roboto';

  animation: spin 15s linear infinite;
   

}



@media screen and (min-width: 600px) {
  
  .box {
 
    float: left;
    margin-right: 10%;

  }

  
@media screen and (min-width: 800px) {
  .box {
    float: left;
     margin-right: 10%;
  }


  @media screen and (min-width: 1000px) {
  
  .box {

    float: left;
     margin-right: 10%;
  } 



 





@keyframes spin {
  100% { transform:rotateY(360deg); } }
}



